@using InventoryApp.Models.ViewModels
@model POSViewModel

@{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
    ViewData["Title"] = "POS";
}


<div class="d-flex justify-content-between align-items-center">
    <div>
        <h4 class="font-weight-bold mt-2">Point Of Sales</h4>
    </div>
    
    <div>
        <a class="" asp-controller="Checkout" asp-action="OutletCheckout">
            <i class="fa fa-shopping-cart text-dark mr-1" style="font-size:19px;"></i> 
            <span id="product-count" class="badge badge-warning text-white" style="font-size: 15px;"> @Model.CartItemsCount </span>
        </a>
    </div>

</div>

<div class="card card-danger mt-4">
    <div class="card-header">
        <h3 class="card-title">Filter Products</h3>
    </div>
    <div class="card-body">
        <div class="row justify-content-between">
            <div class="col-4">
                @*<label asp-for="PrimaryCategoryId">Primary Categories</label>*@
                <select asp-for="PrimaryCategoryId" class="form-control" onchange="filterProducts(1)">
                    <option value="">Primary Category</option>

                    @foreach (var category in Model.PrimaryCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="col-4">
                @*<label asp-for="SecondaryCategoryId">Secondary Categories</label>*@
                <select asp-for="SecondaryCategoryId" class="form-control" onchange="filterProducts(2)">
                    <option value="">Secondary Category</option>
                </select>
            </div>
            <div class="col-4">
                @*<label asp-for="TertiaryCategoryId">Tertiary Categories</label>*@
                <select asp-for="TertiaryCategoryId" class="form-control" onchange="filterProducts(3)">
                    <option value="">Tertiary Category</option>                    
                </select>
            </div>
        </div>

        <div class="row px-2 mt-4">
            <div class="input-group">
              <input type="text" class="form-control" id="search-products" placeholder="type product name or code" onkeyup="searchProducts()">
              <div class="input-group-append">
                <span class="input-group-text" >
                    <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>


<div id="product-list" class="row mt-4">

    @foreach (var product in Model.Products)
    {
        var productImage = product.ProductImages.First();

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        
            <div class="product__item">
                <div class="product__item__pic set-bg d-flex align-items-start" data-setbg='@Url.Content("~/images/products/"+ @productImage.ImageName)'>
                    <h6 class="bg-success p-2 text-white"> @product.Price @product.Currency/@product.Unit </h6>
                    
                </div>
                <div class="product__item__text">
                    
                    <div class="row justify-content-between px-2">
                        <h6> @product.Name </h6>
                        <h6> In Stock: @product.InStock @product.Unit </h6>
                    </div>

                    <button class="btn btn-sm btn-block btn-outline-danger btn-cart" data-id="@product.Id" >+ Add To Cart</button>
                    
                </div>
            </div>
        </div>
        
    }

</div>


@section Scripts{

    <script>
        function filterProducts(catLevel){

            let id = "";
            
            if(catLevel === 1) id = $("#PrimaryCategoryId").val();
            
            if(catLevel === 2) id = $("#SecondaryCategoryId").val();
            
            if(catLevel === 3) id = $("#TertiaryCategoryId").val();

            
            if(id !== ""){
                $.ajax({
                    url: "/POS/FilterProducts/" + id,
                    success: function(response){

                        let products = response.data.products;
                        let secondaryCategories = response.data.secondaryCategories;
                        let tertiaryCategories = response.data.tertiaryCategories;

                        if (catLevel === 1) {
                            $("#SecondaryCategoryId").empty().append(`<option value="">Secondary Category</option>`);
                            $("#TertiaryCategoryId").empty().append(`<option value="">Tertiary Category</option>`);
                            
                            secondaryCategories.forEach(cat => $("#SecondaryCategoryId").append(`<option value="${cat.id}">${cat.name}</option>`));
                        }
                        
                        if (catLevel === 2) {
                            $("#TertiaryCategoryId").empty().append(`<option value="">Tertiary Category</option>`);
                            
                            tertiaryCategories.forEach(cat => $("#SecondaryCategoryId").append(`<option value="${cat.id}">${cat.name}</option>`));
                        }
                        
                        loadProducts(products);

                    },
                    error: function(error){
                        console.log(error.text);
                    }
                });
            }

        }


        function searchProducts(){
            let searchValue = $("#search-products").val().toLowerCase();

            if(searchValue.length >= 3){

                $.ajax({
                    url: "/POS/SearchProducts",
                    method: "POST",
                    data: {search: searchValue},
                    success: function(response){

                        loadProducts(response.data);

                    },
                    error: function(error){
                        console.log(error.text);
                    }
                })
            }
        }


        $("#product-list .btn-cart").on("click", function(){
            let id = $(this).data("id");

            let count = $("#product-count").text();

            $("#product-count").text(`${count}`);

            $.ajax({
                url: "/POS/AddToCart",
                method: "POST",
                data: {id : id},
                success: function(response) {

                    if (!response.isExist) count++;

                    $("#product-count").text(`${count}`);

                    toastr.success(response.message);
                },
                error: function(error){
                    toastr.error(error.statusText);
                }
            });
        })


        function loadProducts(products){
            $("#product-list").empty();

            products.forEach(product => {

                let productImage = product.productImages[0];

                let imageUrl = `/images/products/${productImage.imageName}`;

                $("#product-list").append(`

                    <div class="col-lg-2 col-md-6 col-sm-6">
        
                        <div class="product__item">
                            <div class="product__item__pic set-bg d-flex align-items-start" style="background-image:url(${imageUrl}); background-repeat:no-repeat; background-size:cover; background-position:top-center" >
                                <h6 class="bg-success p-2 text-white"> ${product.price} ${product.currency}/${product.unit} </h6>
                            </div>
                            <div class="product__item__text">
                    
                                <div class="row justify-content-between px-2">
                                    <h6> ${product.name} </h6>
                                    <h6> In Stock: ${product.inStock} ${product.unit} </h6>
                                </div>

                                <button class="btn btn-sm btn-block btn-outline-danger">+ Add To Cart</button>
                    
                            </div>
                        </div>
                    </div>

                `);
                        
            });
        }
    </script>

}